{% extends "layout.j2" %}
{% block content %}    
    <form method="POST">
        <div class="form-group">
            <label for="formGroupExampleInput">Select type of report:</label>
            <input type="text" class="form-control" id="lword" name="lword" placeholder="e.g. realDonaldTrump">
            <fieldset class="form-group">
                <div class="row">              
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="reportType" id="hashtag" value="0" >
                      <label class="form-check-label" for="gridRadios1">
                        Hashtag
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="reportType" id="profile" value="1" checked>
                      <label class="form-check-label" for="gridRadios2">
                        Profile
                      </label>
                    </div>                
                  </div>
                </div>
              </fieldset>
            <button class="btn btn-success" />Submit
        </div>  
    </form>
{% endblock %}