{% extends "layout.j2" %}
{% block content %}    
    <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="camilo-acosta-ing77"><a class="LI-simple-link" href='https://ca.linkedin.com/in/camilo-acosta-ing77?trk=profile-badge'>Camilo Acosta</a></div>
{% endblock %}