{% extends "layout.j2" %}
{% block content %}
    <h1>Jinja says: {{ selectedReport }}</h1>
    <iframe class="responsive-iframe" frameborder='0' noresize='noresize' src="/dashapp/{{ rtype }}/{{ kword }}" title="dashboard"></iframe>
{% endblock %}