{% extends "layout.j2" %}
{% block content %}
  <form action="/report" method="POST">
    <fieldset class="form-group">
      <div class="row">              
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="rtype" id="hashtag" onchange="changeOptions(this);" value="0">
              <label class="form-check-label" for="gridRadios1">
                Hashtag
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="rtype" id="profile" onchange="changeOptions(this);" value="1" checked>
              <label class="form-check-label" for="gridRadios2">
                Profile
              </label>
            </div>                
          </div>
      </div>
    </fieldset>
    <label for="selectedReport">Select your report:</label>    
    <select class="form-control" id="0" name="hashtag_report" style="display:none">
      {% for r in reports %}
        {% if r['rtype'] == 0 %}
          <option value="{{ r['kword'] }}">{{ r['kword'] }}</option>
        {% endif %}
      {% endfor%}
    </select>
    <select class="form-control" id="1" name="profile_report" style="display:inline">
      {% for r in reports %}
        {% if r['rtype'] == 1 %}
          <option value="{{ r['kword'] }}">{{ r['kword'] }}</option>
        {% endif %}
      {% endfor%}
    </select>
    <button type="submit" class="btn btn-success"/>Submit      
  </form>
  <script type="text/javascript" src="static/js/report.js" async defer></script>
{% endblock %}